/* 首页的样式 */
.main{
  width: 980px;
  height: 455px;
  margin-left: 219px;
  margin-top: 10px;
}
.focus{
  width: 720px;
  height: 455px;
  background-color: blue;
  position: relative;
}
.focus ul li img{
  width: 720px;
  height: 455px;
}
.newsflash{
  width: 250px;
  height: 455px;
}
.focus>a{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 24px;
  height: 40px;
  background: rgba(0, 0, 0, .3);
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.focus a:nth-child(2){
  right: 0;
}
.focus ol{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.focus ol li{
width: 8px;
height: 8px;
border-radius: 50%;
float: left;
margin: 0 3px;
border: 1px solid red;
}
.focus ol li:hover{
  background: blue;
  cursor: pointer;
}
.newsflash .news{
height: 163px;
border: 1px solid #ccc;
}
.lifeservise{
  height: 208px;
  border: 1px solid #ccc;
	border-top: none;
}
.bargin{
	height: 75px;
	margin-top: 5px;
}
.news-hd{
	height: 32px;
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
	line-height: 32px;
	padding:0 15px;
}
.news-hd a{
	float: right;
}
.news-bd{
	padding: 10px 0 0 15px;
}
.news-bd li{
	height: 23px;
	line-height: 23px;
}
.lifeservise{
	overflow: hidden;
	}
.lifeservise ul{
	width: 255px;
}

.lifeservise  li{
	float: left;
	width: 62px;
	height: 70px;
	border-right:1px solid #ccc ;
	border-bottom: 1px solid #ccc;
}
.lifeservise  li a{
	height: 100%;
	display: block;
	overflow: hidden;
}
.lifeservise  li a i{
	width: 24px;
	height: 24px;
	display: block;
	margin: 10px auto;
	background: url(../img/icons.png) no-repeat ;
}
.lifeservise  li a i:nth-child(1){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(2){
	width: 26px;
	background-position: -78px -16px;
}
.lifeservise  li a i:nth-child(3){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(4){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(5){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(6){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(7){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(8){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(9){
	background-position: -17px -16px;
}
.lifeservise  li a i:nth-child(10){
	background-position: -17px -16px;
}
.lifeservise  li a p{
	text-align: center;
	padding-left: 0;
}
/* 推荐模块开始 */
.recommend{
	height: 163px;
	background-color: pink;
	margin-top: 10px;
}
.recommend-hd{
	width: 200px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}
.recommend-hd img{
	margin: 30px 0 10px 0;
}
.recommend-hd h3{
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.recommend-bd{
	width: 1000px;
	height: 163px;
	background-color: #ebebeb;
}
.recommend-bd li{
	float: left;
	width: 249px;
	height: 145px;
	border-right: 1px solid #ccc;
	margin-top: 10px;
	background: pink;
}
.recommend-bd li:last-child{
	border-right: none;
}
/* 推荐模块结束 */
/* 楼层区开始 */
.box-hd{
	height: 30px;
	border-bottom: 2px solid #C81623;
	margin-top: 25px;
}
.box-hd h3{
	font-size: 18px;
	float: left;
	color: #C81623;
}
.box-hd .tab-list{
	float: right;
	line-height: 30px;
}
.tab-list li{
	float: left;
}
.tab-list li a{
	margin: 0 15px;
}
.box-bd{
	height: 360px;
}
.tab-content li{
	height: 360px;
	float: left;
}
.w209{
	width: 209px;
	background: #f9f9f9;
}
.w329{
	width: 329px;
}
.w219{
	width: 219px;
	border-right: 1px solid #ccc;
}
.w220{
	width: 220px;
	border-right: 1px solid #ccc;
}
.tab-con-item{
	border-bottom: 1px solid #ccc;
}
.tab-con-list{
	margin-bottom: 15px;
	overflow: hidden;
}
.tab-con-list li{
	width: 86px;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
	text-align: center;
}
/* 楼层区结束 */
/* 电梯导航开始 */
.fixedtool{
	width: 66px;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -676px;
	}
	.fixedtool li{
		height: 32px;
		line-height: 32px;
		text-align: center;
		font-size: 12px;border-bottom: 1px solid #ccc;
	}
	.current{
		color: #fff;
		background: #B1191A;
	}
/* 电梯导航结束 */